html{
    height: 100vh;
}

body{
    margin: 0%;
    padding: 0%;
}
.nav-app{
    background-color: rgba(255, 255, 255, 0.12);

}
header{
    background: url("./images/Hero Page/hero_bg.png") no-repeat top left / cover;
    height: 100vh;
}

.tour-reg{
    background-color: white;
}

.spOffImg{
    position: relative;
}

.special_offers{
    display: flex;
    justify-content: center;
    align-items: end;
}

footer{
    background-color: gray;
    color: white;
}


@media (max-width : 445px) {
    .search{
        padding-top: 10px;
    }
    .navbar-toggler{
        margin-left: auto;
    }
    .bestCompany{
        display: none;

    }
    .special_offers{
        display: none;
    }
    .popularDes{
        top: 5%;
    }
}
